<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}

    <!-- Favicon -->
	  <link href="{% static 'images/fav-icon.jpeg' %}" rel="shortcut icon"/>
</head>
<body>
    
    <!-- Main Content Area -->
    <div class="content">
        {% block content %}
        
        <!-- Page-specific content will go here -->
        {% endblock %}
    </div>
</body>
</html>

