{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">

<!-- Contact section -->
<section class="contact-section">
    <div class="container-fluid">
        <div class="row">
                <!-- Map -->
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3935.559439011312!2d76.43645087450301!3d9.459972982095058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b088381f10b1ced%3A0x49bd27b675ce50ba!2sCUCEK(%20Cochin%20Univ.%20College%20of%20Engineering)%20GYM!5e0!3m2!1sen!2sin!4v1728215526963!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>

            
                <div class="contact-warp">
                    <div class="contact-title">
                        <h2>Get in touch</h2>
                    </div>
                    <div class="contact-para">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore mag na aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doe iusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. </p>
                    </div>
                    <div class="contact-list">
                        <ul class="list">
                            <li><i class="fas fa-map-marker-alt"></i> Main Road, No 25/11</li>
                            <li><i class="fas fa-phone-alt"></i> +34 556788 3221</li>
                            <li><i class="fas fa-envelope"></i> contact@facebeat.com</li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</section>
<!-- Blog section end -->


{% endblock %}