{% extends 'base.html' %}

{% block title %}
    Contact Us
{% endblock %}

{% block content %}
<body>

  

    <!-- jumbotron -->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
            <h3 class="display-4">OUR VOLUNTEERS</h3>
            <hr class="dots">
            <p class="lead">The volunteers who give their talent and time to fulfill the mission.</p>
        </div>
    </div>
    <!-- jumbotron -->
    <div class="container-fluid mb-5" id="container2">
        <div class="container">
            <!-- Card deck -->
            <div class="card-deck">
                 <!-- Card Narrower -->
                 <div class="card card-cascade narrower mb-6">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top"
                            src="images/IMG1.jpeg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>ADARSH </strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                        <!-- Text -->
                        <p class="card-text">Back-end developer
                        </p>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn-floating btn-small btn-instagram"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Card Narrower -->

                <!-- Card Narrower -->
                <div class="card card-cascade narrower mb-6">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top"
                            src="images/IMG3.jpeg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Aiswarya</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                        <!-- Text -->
                        <p class="card-text">Back-end developer
                        </p>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn-floating btn-small btn-instagram"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Card Narrower -->
				<!-- Card Narrower -->
                 <div class="card card-cascade narrower mb-6">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top"
                            src="images/IMG2.jpeg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Alfi</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                        <!-- Text -->
                        <p class="card-text">Frond-end developer 
                        </p>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn-floating btn-small btn-instagram"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Card Narrower -->
				<!-- Card Narrower -->
                 <div class="card card-cascade narrower mb-6">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Others/men.jpg"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->
                        <h4 class="card-title"><strong>Rajith MR</strong></h4>
                        <!-- Subtitle -->
                        <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                        <!-- Text -->
                        <p class="card-text">Front-end developer
                        </p>

                        <!-- Facebook -->
                        <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
                        <!-- Twitter -->
                        <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-twitter"></i></a>
                        <!-- Google + -->
                        <a type="button" class="btn-floating btn-small btn-instagram"><i
                                class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <!-- Card Narrower -->



            </div>
			
            <!-- Card deck -->
        </div>
    </div>
</body>
{% endblock %}
