

{% block title %}
login
{% endblock %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
        .login-container{
            align-items: center;
            text-align: center;
            background-attachment:scroll;
            background-color: bisque;
            font-family: 'Arial', sans-serif;
            width: 600px;
            padding: 60px;
            margin-left: 27%;
            border-radius: 15px; /* This will create rounded corners */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }
</style>
    <h3 class="login-title">Login Page</h3>
    <p class="register-prompt">
      
    </p>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="login-container">
        <h2>Login</h2>
        <div>
            <p>If not registered, take a <a href="{% url 'register' %}">New Profile</a></p>
        </div>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Login</button>
            </form>
        </div>
    </div>
    
    {% if messages %}
    <div>
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}
      

{% endblock %}
