{% extends 'base.html' %}

{% block title %}
login
{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">



<div class="login-main">
    <!-- Page Preloder -->
	<div id="preloder">
		<div class="loader">login</div>
        <div class="loader">login</div>
	</div>
    </p>
    <div class="login-master">
        <div class="login-container">
            <div class="form">
            <h2 id="login-head">Login</h2>
            <div id="login-message">
                <p>Create a <a href="{% url 'register' %}">New Profile</a></p>
            </div>
            <div id="login-form">
                <form method="POST">
                    {% csrf_token %}
                    <!-- Username Field without Label -->
                    <div class="form-group">
                        {{ form.username }}
                    </div>

                    <!-- Password Field without Label -->
                    <div class="form-group">
                        {{ form.password }}
                    </div>

                    <!-- Login Button -->
                    <button type="submit" id="login-button">Login</button>
                </form>
            </div>
        </div>
        </div>
        <div class="login-image">
            <img src="{% static 'images/img7.jpg' %}" alt="login-img">
        </div>
        <div class="messages">
            
        </div>
    </div>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{% if message.tags %}{{ message.tags }}{% endif %}">
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
      

{% endblock %}
