{% extends 'user_dashboard.html' %}


{% block content %}
{% load static %}

<style>
    .margin{
        margin-left: 280px;
        
    }
</style>

<div class="margin">
    <h2>Music in Genre: {{ genre.name }}</h2>
    <ul class="music-list-ul">
        {% for music in music_list %}
            <li class="music-list-db">
                <div class="music-player">
                    <strong>{{ music.title }}</strong> by {{ music.artist }} 
                    (Genre: {{ music.genre }}, Language: {{ music.language }})
                    <br>
                    <div>
                        <audio controls class="music-track">
                            <source src="{{ music.music_file.url }}" type="audio/mp3">
                            Your browser does not support the audio element.
                        </audio>
                    </div>
                    <div class="music-controls">
                        <button class="prevButton btn-music-control"><i class="fas fa-backward"></i></button>
                        <button class="nextButton btn-music-control"><i class="fas fa-forward"></i></button>
                    </div>
                    <br>
                    <small>Released on: {{ music.release_date }} | Duration: {{ music.duration }}</small>
                </div>
            </li>
        {% empty %}
            <li>No music found in this genre.</li>
        {% endfor %}
    </ul>
</div>



{% endblock %}
